extends layout

block variables
	- var title = clubname;

append styles
	link(rel='stylesheet', href='/stylesheets/clubview.css') 
	
append content
	p.username= username
	.info
		p.gray= 'Tags: ' + tags
		hr
		.quillcontent !{description}