doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(property='og:title', content='Greenwich Clubsource')
		meta(property='og:type', content='website')
		meta(property='og:image', content='https://greenwich.myclubsource.com/images/landingbackground.jpg')
		meta(property='og:url', content='https://greenwich.myclubsource.com')
		
		title Clubsource
		
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
		//link(rel='stylesheet', href='/stylesheets/body.css', type='text/css')
		link(rel='stylesheet', href='/stylesheets/landing.css' type='text/css')
	body
		if accType.student
			- window.location.href = '/profile'
		if accType.student
			- window.location.href = '/myclub/dashboard'
		h1.title 
			| Welcome to 
			span Clubsource
		h3 Greenwich High School
		.imgcontainer
		.imgshade
		.infocontainer
			h2 Get Started
			.buttoncontainer
				a(href='/accounts/login')
					button.browse Log In/Register
				a(href='clubs')
					button.create Browse as a guest
		