extends layout

block variables
	- var errors = {
		- '404': {
		- 	title: 'Page Not Found',
		- 	msg: 'The page you are looking for does not exist'
		- }
	- }
	- var title = errors[code].title
	

append content
	p.text-center errors[code].msg;

