block variables

doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(property='og:title', content='Greenwich Clubsource')
		meta(property='og:type', content='website')
		meta(property='og:image', content='https://greenwich.myclubsource.com/images/landingbackground.jpg')
		meta(property='og:url', content='https://greenwich.myclubsource.com')
		
		title #{title}
		
		block styles
			link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
			link(rel='stylesheet', href='/stylesheets/body.css', type='text/css')
	body
		block content
			#closewrap
				button#closebtn
				img#close(src='/images/grayx.png')
			#fullnav
				.outer
					.inner
						#fullnavcont.d-inline-block
							if accType && accType.user
								a.fullnavlink(href='/profile') Profile
								br
							if accType && accType.club
								a.fullnavlink(href='/dashboard') Dashboard
								br
							a.fullnavlink(href='/clubs') Browse Clubs
							br
							if accType && (accType.student || accType.club)
								a.fullnavlink(href='/accounts/logout') Log Out
							else
								a.fullnavlink(href='/accounts/login') Log In
			.navbar
				.navcont.navleft
					.position-relative.d-inline-block
						a.mainlogonav(href='/') clubsource
						.triangledown#navdrop
				.navcont.navright
					- console.log('account type in pug: ');
					- console.log(accType);
					if accType && accType.user
						a.navlink(href='/profile') Profile
					if accType && accType.club
						a.navlink(href='/dashboard') Dashboard
					a.navlink(href='/clubs') Browse Clubs
					if accType && (accType.student || accType.club)
						a.navlink(href='/accounts/logout') Log Out
					else
						a.navlink(href='/accounts/login') Log In
					
			h1.title #{title}
			
		block scripts
			script(src="https://code.jquery.com/jquery-3.4.1.js", integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=", crossorigin="anonymous")
			script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", crossorigin="anonymous")
			script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin="anonymous")
			script(src='/javascripts/navbar.js')