.buttoncontainer{
	text-align: right;
	margin-top: 20px;
}
#cancel{
	background-color: hsl(0, 100%, 45%);
	margin-right: 5px;
}
#cancel:hover{
	background-color: hsl(0, 100%, 50%);
}
#editform {
	margin: 40px;
	font-size: 1.2em;
}
#editor{
	margin-bottom: 20px;
	padding: 3px;
	font-size: 0.8em;
}
.errormessage{
	text-align: center;
	background-color: hsl(0, 50%, 90%);
	padding: 20px;
}
.fieldinfo{
	color: hsl(0, 0%, 60%);
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 0;
}
.ql-container {
	min-height: 200px;
	font-family: var(--body-font);
}
.ql-picker-label::before{
	font-family: var(--body-font);
}
.textinput{
	margin-bottom: 20px;
	padding: 3px;
	font-size: 0.8em;
	width: 300px;
}